.App {
  background: #282c34;
  text-align: center;
  height: 400vh; /*100 del viewport, el alto del dispositivo*/
  background: linear-gradient(
    180deg,
    rgb(155, 233, 139) 0%,
    rgb(75, 199, 44) 15%,
    rgb(32, 128, 19) 30%,
    rgb(10, 81, 10) 45%,
    rgb(20, 45, 25) 100%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}